<%- include('header'); -%>

  <body>
    <section class="flex-container" id="homeC">
      <div class="row mb-3">
        <h1 class="display-4">
          <%= message %>
        </h1>
      </div>
    </section>
    <%- include('footer'); -%>
